body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
.name-color{
    color: orange;
}
.flex-container{
    display: flex;
    margin-bottom: 115px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    float: left;
}
.half-width img{
    width:80% ;
}
.link-button{
    text-decoration: none;
    color: white;
    padding:7px 20px;
    background: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 10px;
}
.top-banner{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.resume-btn{
    text-decoration: none;
    color: white;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 8px 20px;
    border-radius: 10px;
}
.dream-big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}